.wrapper {
  position: relative;
  overflow: visible;
}
.inputGroup.inputGroup {
  display: flex;
}

.inputName {
  max-width: 580px;
}

input.inputCount.inputCount {
  width: 90px;
}

.removeButton {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-100%, -50%);
}
