$tab-reverse-border-radius: 8px;

.wrapper {
  position: relative;
  height: 100vh;
  overflow: auto;
  padding: 40px 80px;
  box-sizing: border-box;
  background: #6294A5 url("./extra/bg-lk.webp") center;
  background-size: cover;

  :global {
    .ant-tabs {
      height: 100%;
    }

    .ant-tabs-tab-active:before,
    .ant-tabs-tab-active:after {
      content: "";
      position: absolute;

      height: $tab-reverse-border-radius;
      width: $tab-reverse-border-radius * 2;
      bottom: -1px;
      z-index: 1;
    }

    .ant-tabs-tab-active:after {
      right: -$tab-reverse-border-radius * 2 - 1px;
      bottom: -1px;
      border-radius: 0 0 0 $tab-reverse-border-radius;
      box-shadow: -$tab-reverse-border-radius 0 0 0 #fff;
    }

    .ant-tabs-tab-active:before {
      left: -$tab-reverse-border-radius * 2 - 1px ;
      bottom: -1px;
      border-radius: 0 0 $tab-reverse-border-radius 0;
      box-shadow: $tab-reverse-border-radius 0 0 0 #fff;
    }

    .ant-tabs-nav {
      margin-bottom: 0;
    }

    .ant-tabs-nav-list {
      padding: 0 10px;
    }

    .ant-tabs-content-holder {
      padding: 40px;
      margin: 0 -12px;
      background: rgba(255,255,255,.94);
      border-radius: 12px;
    }

    .ant-tabs-tab.ant-tabs-tab,
    .ant-tabs-nav-add.ant-tabs-nav-add {
      background: #ffffff;
      opacity: .8;
    }

    .ant-tabs-tab.ant-tabs-tab:hover,
    .ant-tabs-nav-add.ant-tabs-nav-add:hover,
    .ant-tabs-tab.ant-tabs-tab-active {
      opacity: 1;
    }


  }
}

.column {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.columnContent {
  flex: 0 1 auto;
  overflow-y: auto;
  display: flex;
  margin-right: -40px;
  padding-right: 40px;
  padding-left: 40px;
  margin-left: -40px;
}

.columnFooter {
  margin-top: 40px;
}

.itemPrice {
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding: 20px 0 0 0;

    :global {
      .ant-tabs-content-holder {
        border-radius: 0;
        margin: 0;
      }
    }
  }
}
